.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table, td, th, tr {
  border: 1px solid;
}

td, th {
  height: 1.5em;
}

table {
  width: 100%;
}

th {
  background-color: black;
  color:white;
}

tr button{
  margin-left: 1em;
  margin-right: 1em;
}

label {
  font-weight: bold;
}

.container {
  width:80%;
  margin:auto;
}

input {
  height:1.5em;
  width:80%;
}